* {
	margin: 0px;
	padding: 0px;
}

@keyframes bounceIn {
	0% {
	  transform: scale(0.1);
	  opacity: 0;
	}
	60% {
	  transform: scale(1.1);
	  opacity: 1;
	}
	100% {
	  transform: scale(1);
	}
  }

.scrolling-box {
	display: block;
	overflow-y: scroll;
	scroll-behavior: smooth;
	position: fixed;
	height: 100vh;
	width: 100%;
}

header { 
	position: fixed;
	width: 100%;
	height: 60px;
	background-color: #f0deff;
	box-shadow: 0px 5px 12px -2px rgba(0, 0, 0, 0.8);
	/* box-shadow: 0 4px 18px 0 rgba(0,0,0,0.12), 0 7px 10px -5px rgba(0,0,0,0.15); */
}

ul {
	display: flex;
	justify-content: space-between;
	margin: 0 60px;
}

.logo {
	margin: -7px 50px;
	font-family: 'Monoton', cursive;
	font-size: 55px;
	list-style-type: none;
	transition: all 1s;
}

.logo:hover {
	transform: rotate(360deg) scale(1.1) translate(0, -5px);
	cursor: none;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	width: 600px;
}

.flex__element {
	list-style-type: none;
	margin: -7px 7px;
	flex-grow: 1;
}

a {
	text-decoration: none;
	font-family: 'Amatic SC', cursive;
	font-size: 37px;

	background-color: #1a9c99;
	box-shadow: 0px 5px 12px -2px rgba(0, 0, 0, 0.8);
	height: 50px;
	margin: 11px 7px;

	display: flex;
	align-items: center;
	justify-content: center;
}

.subscription {
	background-color: #908599;
}

a:link, a:visited {
	color: #DFD3D3;
}

a:hover {
   color: #f0deff;
   background-color: #297673;
   box-shadow: inset 0px 5px 12px -2px rgba(0, 0, 0, 0.8);
   text-decoration: none;
}

.subscription:hover {
	color: #a0c2c1;
	background-color: #605866;
}

section {
	height: 650px;

	display: flex; 
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

h2 {
	color: #297673;
}

#home {
	height: 100vh;
	background-image: url(home.jpg);
	background-size: cover;
}

.welcome {
	font-family: 'Dancing Script', cursive;
	text-align: center;
	font-size: 50px;
    line-height: 1.5em;
    background-color: rgba(240,222,255, 0.6);
    padding: 10px;
	box-shadow: 0px 5px 12px -2px rgba(0, 0, 0, 0.8);
	
	animation: bounceIn 2s;
}

#about {
	background-color: #d8c7e5;
	box-shadow: inset 0px 5px 12px -2px rgba(0, 0, 0, 0.8);
}

#gallery {
	background-color: #c0b1cc;
	height: fit-content;
	padding: 30px 80px;
}

#gallery h2 {
	color: #1c5250;
}

.img_box {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.img_box img {
	width: 450px;
	height: 300px;
	margin: 13px;
	transition: all 1s;
}

.img_box img:hover {
	transform: scale(1.1, 1.15);
}

#subscribe {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	background-color: #9f90ac;
}

#subscribe h2 {
	color: #143b39;
}

.btn-lg {
	color: #143b39;
}

.btn-lg:hover {
	color: #f0deff;
	background-color: #297673;
}



